<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Impedir a execução de scripts externos -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <!-- Título da janela -->
    <title>Sticky Notes</title>
    <!-- Bootstrap -->
    <!--link rel="stylesheet" href="../public/css/bootstrap.min.css"-->
    <!-- CSS Personalizado ATENÇÃO!!! sempre após o CSS do bootstrap -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <section class="novaNota"></section>
            <h1>Nova nota</h1>
                <form id="frmNote">
                    <input type="text" placeholder="Escreva sua nota aqui..." required id="inputNote">
                        <h2>Escolha a cor</h2>
                     <select  id="selectColor">
                        <option value="amarelo">amarelo</option>
                        <option value="azul">azul</option>
                        <option value="verde">verde</option>
                        <option value="rosa">rosa</option>
                        <option value="laranja">laranja</option>
                    </select>
               <button type="submit" class="btn btn-primary">Salvar</button>
        </form>



    </div>


    <!-- Bootstrap -->
    <!--script src="../public/js/bootstrap.min.js"></script-->

    <!-- Processo de renderização -->
    <script src="rendererNota.js"></script>

</body>

</html>